In [ ]:
import json
import urllib.request as url

In [ ]:
path = "https://data.covid19india.org/states_daily.json"
response = url.urlopen(path)

In [ ]:
data = json.load(response)

In [ ]:
type(data)

dict

In [ ]:
data.keys()

dict_keys(['states_daily'])

In [ ]:
states = data["states_daily"]

In [ ]:
len(states)

1563

In [ ]:
len(states) / 3

521.0

In [ ]:
print(states[0])

{'an': '0', 'ap': '1', 'ar': '0', 'as': '0', 'br': '0', 'ch': '0', 'ct': '0', 'date': '14-Mar-20', 'dateymd': '2020-03-14', 'dd': '0', 'dl': '7', 'dn': '0', 'ga': '0', 'gj': '0', 'hp': '0', 'hr': '14', 'jh': '0', 'jk': '2', 'ka': '6', 'kl': '19', 'la': '0', 'ld': '0', 'mh': '14', 'ml': '0', 'mn': '0', 'mp': '0', 'mz': '0', 'nl': '0', 'or': '0', 'pb': '1', 'py': '0', 'rj': '3', 'sk': '0', 'status': 'Confirmed', 'tg': '1', 'tn': '1', 'tr': '0', 'tt': '81', 'un': '0', 'up': '12', 'ut': '0', 'wb': '0'}

In [ ]:
print(states[-1])

{'an': '0', 'ap': '13', 'ar': '0', 'as': '10', 'br': '0', 'ch': '0', 'ct': '1', 'date': '16-Aug-21', 'dateymd': '2021-08-16', 'dd': '0', 'dl': '0', 'dn': '0', 'ga': '5', 'gj': '0', 'hp': '3', 'hr': '2', 'jh': '0', 'jk': '1', 'ka': '28', 'kl': '142', 'la': '0', 'ld': '0', 'mh': '100', 'ml': '8', 'mn': '6', 'mp': '1', 'mz': '3', 'nl': '4', 'or': '66', 'pb': '2', 'py': '0', 'rj': '0', 'sk': '0', 'status': 'Deceased', 'tg': '3', 'tn': '28', 'tr': '1', 'tt': '438', 'un': '0', 'up': '1', 'ut': '1', 'wb': '9'}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(states)

In [ ]:
df.head()

  an ap ar as br ch ct       date  ... tg tn tr  tt un  up ut wb
0  0  1  0  0  0  0  0  14-Mar-20  ...  1  1  0  81  0  12  0  0
1  0  0  0  0  0  0  0  14-Mar-20  ...  0  0  0   9  0   4  0  0
2  0  0  0  0  0  0  0  14-Mar-20  ...  0  0  0   2  0   0  0  0
3  0  0  0  0  0  0  0  15-Mar-20  ...  2  0  0  27  0   1  0  0
4  0  0  0  0  0  0  0  15-Mar-20  ...  1  0  0   4  0   0  0  0

[5 rows x 42 columns]

In [ ]:
key = "83e01e3dce5d28839bb5a177cb51af12"
city_name = "delhi"
path = f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={key}"

In [ ]:
response = url.urlopen(path)
data = json.load(response)

In [ ]:
data

{'base': 'stations',
 'clouds': {'all': 54},
 'cod': 200,
 'coord': {'lat': 28.6667, 'lon': 77.2167},
 'dt': 1637150548,
 'id': 1273294,
 'main': {'feels_like': 296.47,
  'humidity': 31,
  'pressure': 1014,
  'temp': 297.2,
  'temp_max': 297.2,
  'temp_min': 297.2},
 'name': 'Delhi',
 'sys': {'country': 'IN',
  'id': 9165,
  'sunrise': 1637111729,
  'sunset': 1637150216,
  'type': 1},
 'timezone': 19800,
 'visibility': 2100,
 'weather': [{'description': 'smoke',
   'icon': '50n',
   'id': 711,
   'main': 'Smoke'}],
 'wind': {'deg': 40, 'speed': 2.57}}