In [1]:
def add():
  x = 6
  y = 5
  z = x + y
  print("Sum is",z)

In [2]:
add()

Sum is 11

In [3]:
def add():
  global x, y
  x = 6
  y = 5
  z = x + y
  print("Sum is",z)

In [5]:
add()

Sum is 11

In [6]:
x, y

(6, 5)

In [9]:
# age = 20

# def changeAge():
#   age = age + 10
#   print("Now age is :",age)

In [10]:
def calc(x,y):
  z = x + y
  print("Sum is",z)

In [12]:
# Positional Arguments
calc(4,5)

Sum is 9

In [13]:
# Keyword Arguments
calc(x = 6, y = 9)
calc(y = 6, x = 9)

Sum is 15
Sum is 15

In [14]:
def calc(x=0,y=0):
  z = x + y
  print("Sum is",z)

In [15]:
calc()

Sum is 0

In [16]:
calc(5)

Sum is 5

In [17]:
calc(5,6)

Sum is 11

In [21]:
# *args - variable length argument
def add(*x):
  sum = 0
  for i in range(len(x)):
    sum += x[i]
  print("Sum is :",sum)

In [22]:
add(5,6)
add(4,5,7,3)
add()
add(4,3,4,5,7,9,5,5)

Sum is : 11
Sum is : 19
Sum is : 0
Sum is : 42

In [23]:
# **kwargs - keyword variable length argument
def person(**details):
  print(details)

In [24]:
person(name = "Ram", age = 50, sal = 56000)
person(name = "Shyam")

{'name': 'Ram', 'age': 50, 'sal': 56000}
{'name': 'Shyam'}

In [25]:
def temp_convert(c):
  return 9/5 * c + 32

def km_to_m(km):
  return km * 1000

In [26]:
temps = [23.45,25.6,30.4,28.7,28.6]
for t in temps:
  print(temp_convert(t))

74.21000000000001
78.08000000000001
86.72
83.66
83.48

In [27]:
kms = [3.4,45,90,23.53,41]
for k in kms:
  print(km_to_m(k))

3400.0
45000
90000
23530.0
41000

In [28]:
def myMap(func,iter):
  data = []
  for i in range(len(iter)):
    data.append(func(iter[i]))
  return data

In [29]:
myMap(km_to_m, kms)

[3400.0, 45000, 90000, 23530.0, 41000]

In [31]:
myMap(temp_convert, temps)

[74.21000000000001, 78.08000000000001, 86.72, 83.66, 83.48]

In [33]:
list(map(km_to_m, kms))

[3400.0, 45000, 90000, 23530.0, 41000]

In [34]:
list(map(temp_convert, temps))

[74.21000000000001, 78.08000000000001, 86.72, 83.66, 83.48]

In [36]:
(lambda x,y : x + y)(4,5)

9

In [37]:
list(map(lambda km : km * 1000, kms))

[3400.0, 45000, 90000, 23530.0, 41000]

In [38]:
add = lambda x,y : x + y

In [40]:
add(4,5)

9